<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html lang="en">
  <body>   
    <!-- This is the code for the navigation bar -->
    <%= render 'nbar' %>

    <div class="container">
      <!-- This is the code for the display table -->
      <h1>Listing Talents</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Talent type</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @talents.each do |talent| %>
            <tr>
              <td><%= talent.name %></td>
              <td><%= talent.talent_type %></td>
              <td><%= link_to 'Show', talent %></td>
              <td><%= link_to 'Edit', edit_talent_path(talent) %></td>
              <td><%= link_to 'Destroy', talent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
      <%= link_to 'New Talent', new_talent_path, :class => "btn btn-default" %>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
  </body>
</html>