<p id="notice"><%= notice %></p>

<html lang="en">
  <body>
  	<!-- This is the code for the navigation bar -->
    <%= render 'nbar' %>
    <div class="container">
    	<h1>Viewing Talent</h1>

		<p>
		  <strong>Name:</strong>
		  <%= @talent.name %>
		</p>

		<p>
		  <strong>Talent type:</strong>
		  <%= @talent.talent_type %>
		</p>

		<p>
			<b>Who has this talent?</b>
			<%= @talent.rated_talents.map {|x| x.to_label_user}.join ', ' %>
		</p>

		<%= link_to 'Edit', edit_talent_path(@talent), :class => "btn btn-default" %>
		<%= link_to 'Back', talents_path, :class => "btn btn-default" %>
	</div>
  </body>
</html>