<p id="notice"><%= notice %></p>

<%= render 'nbar' %>

<h1>Listing Rated Talents</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Talent</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @rated_talents.each do |rated_talent| %>
      <tr>
        <td><%= User.find(rated_talent.user_id).name %></td>
        <td><%= Talent.find(rated_talent.talent_id).name %></td>
        <td><%= rated_talent.rating_value %></td>
      </tr>
    <% end %>
  </tbody>
</table>