<%= render 'nbar' %>

<p>
  <strong>User:</strong>
  <%= User.find(@rated_talent.user_id).name %>
</p>

<p>
  <strong>Talent:</strong>
  <%= Talent.find(@rated_talent.talent_id).name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @rated_talent.rating_value %>
</p>

<%= link_to 'Back', rated_talents_path %>
