<p>If you only see an update button, you may want to restart your browser.</p>
<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- This is very important, apparently. -->
  <%= f.hidden_field :name, :value => @user.name %>

  <%= f.simple_fields_for :rated_talents do |rated_talent| %>
    <%= render 'rated_talent_fields', :f => rated_talent %>
  <% end %>

  <%= link_to_add_association 'Add Talent', f, :rated_talents, 
    :'data-association-insertion-position' => 'before',
    :'data-association-insertion-method' => 'append' %>

  <%= f.button :submit %>
<% end %>