<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html lang="en">
  <body>

    <%= render 'nbar' %>

    <div class="col-sm-6">
      <!-- This is the code for the display table -->
      <h1>Listing Users</h1>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email%></td>
              <td><%= link_to 'More....', user %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>  
  </body>
</html>