<!DOCTYPE html>
<html lang="en">
  <body>

    <%= render 'nbar' %>

    <br>

		<p id="notice"><%= notice %></p>

		<p>
  		<strong>Name:</strong>
  		<%= @user.name %>
		</p>

		<p>
		  <strong>Email:</strong>
		  <%= @user.email%>
		</p>

		<p>
			<b>What talents?</b>
			<%= @user.rated_talents.map {|x| x.to_label}.join ', ' %>
		</p>

		<%= link_to 'Back', users_path %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>  
  </body>
</html>